<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="/static/materialize/css/materialize.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>{% block titulo %}Bienvenidos{% endblock titulo %}</title>
	<meta charset="utf-8">
</head>
<body>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>
	<div class="navbar-fixed">
	<nav class="green lighten-5">
		<div class="nav-wrapper">
			<a href="/" class="brand-logo center"><img src="/static/images/logotipos.png" weight="50px"height="70px"></a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons green darken-4">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="{% url 'resultados' %}" ><span class="green-text darken-4">Ver Resultados</span></a></li>
				{% if user.is_authenticated %}
					<li><a href="{% url 'importar' %}" ><span class="green-text darken-4">Registrar Datos</span></a></li>
					<li><a href="{% url 'cerrar_sesion' %}" ><span class="green-text darken-4">Cerrar Sesion</span></a></li>
				{% else %}
					<li><a href="/" ><span class="green-text darken-4">Iniciar Sesion</span></a></li>
				{% endif %}
			</ul>
			<ul class="side-nav" id="mobile-demo">

				<li><a href="{% url 'resultados' %}" ><span class="green-text darken-4">Ver Resultados</span></a></li>
				{% if user.is_authenticated %}
					<li><a href="/" ><span class="green-text darken-4">Registrar Datos</span></a></li>
					<li><a href="{% url 'cerrar_sesion' %}" ><span class="green-text darken-4">Cerrar Sesion</span></a></li>
				{% else %}
					<li><a href="/" ><span class="green-text darken-4">Iniciar Sesion</span></a></li>
				{% endif %}
			</ul>
		</div>
	</nav>
	</div>

	<div class="container">


    <div class="row">


		<div class="col s12 m12 l12 light-green lighten-5"> <!-- Note that "m8 l9" was added -->
			<span class="flow-text" > Bienvenido a Senasoft </span>
			<div class="">
				{% block content %}
				{% endblock %}
			</div>

        <!-- Teal page content

              This content will be:
          9-columns-wide on large screens,
          8-columns-wide on medium screens,
          12-columns-wide on small screens  -->
		</div>

    </div>


	</div>

	<footer class="">
				<div>

					<img class="responsive-img" src="/static/images/pie-de-pagina.png">
				</div>
		<div class="footer-copyright">
			<div class="container center">
				© 2017 Copyright SENA CTPI CAUCA dfprado4@misena.edu.co
				<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
			</div>
		</div>
	</footer>


	  <!-- Modal Structure -->
		<div id="modal1" class="modal">
			<div class="modal-content">
				<h4>Ficha XXXXXXX </h4>
				<p>Instructor</p>
				<p>jornadas</p>
				<p>competencia</p>
				<p>resultados</p>
				<p>otro</p>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
				<a class="modal-action modal-close waves-effect waves-light btn green" href="#"><i class="material-icons">search</i></a>
			</div>
		</div>


<script>
	$(document).ready(function(){
		//$('select').material_select();
		
		$('select').not('.disabled').material_select();
		//$('select:not([multiple])').material_select();
		$(".button-collapse").sideNav();
		$('.modal-trigger').leanModal();
		$('ul.tabs').tabs();
		$('ul.tabs').tabs('select_tab', 'tab_id');
		$('.datepicker').pickadate({
		    selectMonths: true, // Creates a dropdown to control month
		    selectYears: 15 // Creates a dropdown of 15 years to control year
		  });
			});
		$('.parallax').parallax();

</script>

	<h1>{{STATIC_URL}}</h1>




</body>
</html>